body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ._track_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}