.card {
  height: 280px;
  aspect-ratio: 0.717703349;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  img, .async-image {
    height: 280px;
    aspect-ratio: 0.717703349;
    border-radius: 12px;
    overflow: hidden;
  }
  div {
    transition: transform 0.5s ease,
                  display 0.5s ease,
                  z-index 0.5s ease,
                  opacity 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > ._buttons {
    &:empty {
      opacity: 0 !important;
    }
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    gap: 10px;
    z-index: 2;
    button {
      padding: 10px 20px;
    }
    transform: rotateZ(0deg);
  }
  &:hover {
    > ._buttons {
      opacity: 1;
    }
  }

  ._front {
    z-index: 1;
    transform: rotateY(0deg);
  }
  ._back {
    z-index: 0;
    transform: rotateY(180deg);
  }

  &._deck, &._inked {
    ._front {
      z-index: 0;
      transform: rotateY(180deg);
    }
    ._back {
      z-index: 1;
      transform: rotateY(0deg);
    }
  }
  &._inked_used {
    width: 300px;
    aspect-ratio: 1.3933333339;
    height: unset;
    ._front {
      z-index: 0;
      transform: rotateY(180deg) rotateZ(-90deg);
    }
    ._back {
      z-index: 1;
      transform: rotateY(0deg) rotateZ(90deg);
    }
    ._buttons {
      left: -43px;
    }
  }

  &._quest {
    width: 300px;
    aspect-ratio: 1.3933333339;
    height: unset;
    ._front {
      z-index: 1;
      transform: rotateY(0deg) rotateZ(90deg);
    }
    ._back {
      z-index: 0;
      transform: rotateY(180deg) rotateZ(-90deg);
    }
    ._buttons {

    }
  }

  &._alter_marked {
    opacity: 0.5 !important;
  }
}